* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bison";
  src: url("bisonbold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lemon";
  src: url("dklemonyellow.otf") format("opentype");
  font-display: swap;
}

html,
body {
  height: 100%;
  font-family: "Lemon", sans-serif;
  overflow: hidden;
}

body {
  background-color: #e5e3df;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background: url("header3.png") no-repeat center/cover;
  height: 15vh;
  min-height: 80px;
  color: white;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
}

.logotext {
  font-family: "Lemon", sans-serif;
  font-size: clamp(1.6rem, 4vw, 3.2rem);
  white-space: nowrap;
}

.nav-links {
  display: flex;
  gap: clamp(1rem, 3vw, 3rem);
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links a.active-link::after,
.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  opacity: 0.9;
}

.background-container {
  position: fixed;
  top: 12vh;
  left: 0;
  width: 100vw;
  height: calc(100vh - 12vh - 10vh);
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.background-half {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.background-left {
  background-image: url("Industrial.png");
  background-position: left center;
  -webkit-mask-image: linear-gradient(to right, black 40%, transparent 60%);
  mask-image: linear-gradient(to right, black 40%, transparent 60%);
}

.background-right {
  background-image: url("nature.png");
  background-position: right center;
  -webkit-mask-image: linear-gradient(to left, black 40%, transparent 60%);
  mask-image: linear-gradient(to left, black 40%, transparent 60%);
}

@media (max-width: 1199.98px) {
  .background-half {
    background-attachment: scroll;
    background-position: center center;
  }

  .background-left {
    -webkit-mask-image: linear-gradient(to right, black 50%, transparent 80%);
    mask-image: linear-gradient(to right, black 50%, transparent 80%);
  }

  .background-right {
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 80%);
    mask-image: linear-gradient(to left, black 50%, transparent 80%);
  }
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 !important;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  ::-webkit-scrollbar {
  display: none; 
}
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.content-section {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  width: 100%;
}

.content-section.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: visible;
  min-height: calc(75vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-block {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 20px;
  color: var(--primary-color);
}

.section-paragraph {
  font-size: 16px;
  color: var(--text-color);
  padding: 5px 0;
}

.strong_desc {
  font-size: 20px;
}

.woody-image-btm {
  width: clamp(8rem, 20vw, 18rem);
  height: 60px;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.woody-image-btm:hover {
  transform: scale(1.05);
}


.homeimgicon {
  width: 70px !important;
  height:  100px !important;
  margin: 0 auto;
  display: block;
  transition: transform 0.3s ease;
}
.homeimgicon:hover {
  transform: scale(1.05);
}

.footer {
  background: url("Website_BG.png") no-repeat center/cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 10vh;
  min-height: 60px;
  z-index: 2;
}

.footer-links img {
  width: 25px !important;
  height: auto;
  transition: opacity 0.3s;
}

.footer-links:hover img {
  opacity: 0.8;
}

@media (min-width: 2700px) {
  .navbar {
    padding: 4rem 8rem;
  }
  .logotext {
    font-size: 6rem;
  }
  .nav-links {
    gap: 7rem;
  }
  .nav-links a {
    font-size: 3rem;
  }
  .main-content {
    max-width: 1600px;
    line-height: 1;
  }
  .section-title,
  .strong_desc {
    font-size: 74px;
    padding: 10px 0;
  }
  .section-paragraph {
    font-size: 50px;
    padding: 20px 0;
    line-height: 1;
  }
  .woody-image-btm,
  .homeimgicon {
    width: 500px !important;
    padding: 5px 0;
  }
  .footer {
    padding: 32px 8rem;
    gap: 3rem;
  }
  .footer-links img {
    width: 4rem;
  }
}

@media (min-width: 2000px) {
  .navbar {
    padding: 2rem 6rem;
  }
  .logotext {
    font-size: 4rem;
  }
  .nav-links {
    gap: 5rem;
  }
  .nav-links a {
    font-size: 2rem;
  }
  .main-content {
    max-width: 1400px;
    padding: 3rem;
  }
  .content-section.active {
    min-height: calc(75vh - 6rem);
  }
  .section-title,
  .strong_desc {
    font-size: 50px;
  }
  .section-paragraph {
    font-size: 32px;
  }
  .woody-image-btm,
  .homeimgicon {
    width: 384px !important;
    height: auto !important;
  }
  .homeimgicon{
    height: 300px !important;
  }
  .footer {
    padding: 2rem 6rem;
    gap: 2.5rem;
  }
  .footer-links img {
    width: 3rem;
  }
}

@media (max-width: 1440px) {
  .navbar {
    padding: 1.5rem 4rem;
  }
  .logotext {
    font-size: 3rem;
  }
  .nav-links {
    gap: 3rem;
  }
  .nav-links a {
    font-size: 1.5rem;
  }
  .main-content {
    max-width: 1200px;
  }
  .section-title,
  .strong_desc {
    font-size: 25px;
  }
  .section-paragraph {
    font-size: 16px;
  }
  .woody-image-btm,
  .homeimgicon {
    width: 350px !important;
  }
  .footer {
    padding: 1rem 4rem;
    gap: 1rem;
  }
  .footer-links img {
    width: 2.5rem;
  }
  .homeimgicon {
    width: 60px !important;
    height: 100px !important;
  }
}

@media (max-width: 1024px) {
  .logotext {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .nav-links a {
    font-size: 1.4rem;
  }
  .main-content {
    max-width: 900px;
  }
  .section-title,
  .strong_desc {
    font-size: 16px;
  }
  .section-paragraph {
    font-size: 12px;
  }
  .woody-image-btm,
  .homeimgicon {
    width: 150px !important;
  }
  .footer {
    gap: 1.3rem;
    padding: 0.5rem 2rem;
  }
  .footer-links img {
    width: 2rem;
  }
  .homeimgicon {
    width: 60px !important;
    height: 100px !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 1.5rem;
  }
  .logotext {
    font-size: 2rem;
  }
  .nav-links {
    gap: 1rem;
  }
  .nav-links a {
    font-size: 1.2rem;
  }
  .section-title,
  .strong_desc {
    font-size: 16px;
  }
  .section-paragraph {
    font-size: 12px;
  }
  .woody-image-btm,
  .homeimgicon {
    width: 120px !important;
  }
  .footer {
    gap: 1rem;
    padding: 0.6rem 1.5rem;
  }
  .footer-links img {
    width: 1.8rem;
  }
  .homeimgicon {
    width: 60px !important;
    height: 100px !important;
  }
}

@media (max-width: 680px) {
  .navbar {
    padding: 1rem;
  }
  .logotext {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .nav-links a {
    font-size: 1rem;
  }
  
  .section-title,
  .strong_desc {
    font-size: 14px;
  }
  .section-paragraph {
    font-size: 10px;
  }
  .woody-image-btm,
  .homeimgicon {
    width: 80px !important;
    height: auto !important;
  }
  .footer {
    gap: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .footer-links img {
    width: 1.5rem;
  }
}
